h2 {
  color: green;
}

main {
  width: 100vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.new-post {
  display: flex;
  margin-bottom: 20px;
}

.card-post {
  background-color: rgb(7, 34, 71);
  border: 2px solid rgb(33, 33, 33);
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 7px;
}

.card-post h3 a {
  color: white;
  font-weight: bold;
}

.card-post h3 {
  margin-bottom: 5px;
}

.card-post p {
  color: white;
  margin-bottom: 5px;
}