{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block link_stylesheet %}{% endblock link_stylesheet %}
    <title>Pulga Blog | {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header>
      <h1>Pulga Blog</h1>
    </header>
    {% block main %}
    {% endblock main %}
    {% block footer %}
      <footer>
        <div>
          <a target="_blank" href="https://github.com/christopherchantres">Christopher Chantres 2023</a>
        </div>
      </footer>
    {% endblock footer %}
    {% block scripts %}{% endblock scripts %}
  </body>
</html>