{% extends 'base.html' %}
{% load static %}
{% block title %}Create Post{% endblock title %}
{% block link_stylesheet %}
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock link_stylesheet %}
{% block main %}
  <main>
    <div class="main-container">
      <section class="create-post-header">
        <h2 class="create-post-header-title">Create your post</h2>
        {% for message in messages %}
          <p class="create-post-header-alert">Opps! {{ message }}</p>
        {% endfor %}
      </section>
      <div class="form-container">
        <form action="" method='POST'>
          {% csrf_token %}
          <label for="">Title:</label>
          <input class="input-text" type="text" name="post_title" placeholder="Post title" required>
          <label for="">Author:</label>
          <input class="input-text" type="text" name="post_author" placeholder="Your name" required>
          <label for="">Content:</label>
          <textarea name="post_content" id="" placeholder="Type your thoughts in here ..." required></textarea>
          <input class="submit-button" type="submit" value="Publish Post">
        </form>
      </div>
    </div>
  </main>
{% endblock main %}

{% comment %} Calling the footer to let it empty {% endcomment %}
{% block footer %}
{% endblock footer %}