{% extends 'base.html' %}
{% load static %}
{% block link_stylesheet %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock link_stylesheet %}
{% block title %}Home{% endblock title%}

{% block main %}
  <main>
    <section>
      <div class="container">
        <div class="new-post">
          <p class="create-post">Create Post</p>
          <button>+</button>
        </div>
        {% for post in posts %}
          <div class="card-post">
              <h3><a href="{% url 'post_detail' post_id=post.id %}">{{ post.title }}</a></h3>
              <p>By: {{ post.author }}</p>
              <p>At: {{ post.created_at }}</p>
              <p>{{ post.content }}</p>
          </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock main %}