{% extends 'base.html' %}
{% load static %}
{% block link_stylesheet %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock link_stylesheet %}
{% block title %}Home{% endblock title%}

{% block main %}
  <main>
    <section>
      <div class="container">
        <div class="new-post">
          <button id="create-post" class="create-post-btn">+</button>
        </div>
        {% for post in posts %}
          <div class="card-post">
              <h3><a href="{% url 'post_detail' post_id=post.id %}">{{ post.title }}</a></h3>
              <p>By: {{ post.author }}</p>
              <p>At: {{ post.created_at }}</p>
              {% if post.content|wordcount > 20 %}
                <p>{{ post.content.split|slice:":20"|join:" " }}......</p>
              {% else %}
                <p>{{ post.content }}</p>
              {% endif %}
          </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock main %}
{% block scripts %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock scripts %}